Source: ros-hydro-unique-id
Section: misc
Priority: extra
Maintainer: Jack O'Quin <jack.oquin@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin, ros-hydro-roscpp, ros-hydro-rospy, ros-hydro-uuid-msgs
Homepage: http://ros.org/wiki/unique_id
Standards-Version: 3.9.2

Package: ros-hydro-unique-id
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-roscpp, ros-hydro-rospy, ros-hydro-uuid-msgs
Description: ROS Python and C++ interfaces for universally unique identifiers.
