Source: ros-hydro-uuid-msgs
Section: misc
Priority: extra
Maintainer: "Jack O'Quin <jack.oquin@gmail.com>"
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin, ros-hydro-message-generation, ros-hydro-std-msgs
Homepage: http://ros.org/wiki/uuid_msgs
Standards-Version: 3.9.2

Package: ros-hydro-uuid-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-message-runtime, ros-hydro-std-msgs
Description: ROS messages for universally unique identifiers.
